{% extends 'Base/navbar.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<head>
  <style media="screen">
    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }
    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }
    input.btn-danger{
      margin-top: -70px;
      width: 40%;
      margin-left: 250px;
    }
    input.btn-primary{
      margin-top: -20px;
      width: 40%;
      margin-left:0px;
    }
  </style>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}" type="text/css"/> 
</head>
<br>
<div class="container">
  <div class="col-md">
      <div class="note">
    <p>Add Bank Account</p>
      </div>
  <div class="form-content">
    <div class="row">
      <div class="col-md-6">
        <form action="" method="POST" autocomplete="off" id="form">
          {% csrf_token %}
        <div class="form-group">
        <label for="Bank_Name">Bank Name</label>
      <input type="text" class="form-control" name="Bank_Name" id="Bank_Name" placeholder="Enter Bank Name">
      <i class="ion-ios-checkmark"></i>
      <i class="ion-android-alert"></i>
      <p>Error Message</p>
    </div>
    <div class="form-group">
      <label for="IFSC_Number">IFSC Number</label>
      <input type="text" class="form-control" name="IFSC_Number" id="IFSC_Number" placeholder="Enter IFSC Number">
      <i class="ion-ios-checkmark"></i>
      <i class="ion-android-alert"></i>
      <p>Error Message</p>
    </div>
    <div class="form-group">
      <label for="Acc_Number">Account Number</label>
      <input type="text" class="form-control" id="Acc_Number" name="Account_Number" placeholder="Enter Account Number" >
      <i class="ion-ios-checkmark"></i>
      <i class="ion-android-alert"></i>
      <p>Error Message</p>
    </div>
    <div class="form-group">
      <label for="Holder_Name">Holder Name</label>
      <input type="text" class="form-control" name="Holder_Name" id="Holder_Name" placeholder="Enter Holder Name">
      <i class="ion-ios-checkmark"></i>
      <i class="ion-android-alert"></i>
      <p>Error Message</p>
    </div>
    <div class="form-group">
      <label for="Mob_Number">Mobile_Number</label>
      <input type="text" class="form-control" id="Mob_Number" name="Mobile_Number" placeholder="Enter Mobile Number">
      <i class="ion-ios-checkmark"></i>
      <i class="ion-android-alert"></i>
      <p>Error Message</p>
    </div>
    <div class="form-group">
      <label for="Balance">Balance</label>
      <input type="text" class="form-control" id="Bal" name="Balance" placeholder="Enter Balance Amount">
      <i class="ion-ios-checkmark"></i>
      <i class="ion-android-alert"></i>
      <p>Error Message</p>
    </div><br>
      <input type="submit" class="btn btn-primary" value="register">
      <input type="reset" value="Clear" class="btn btn-danger">
    </form></div></div></div>  
  </div>
</div>
<script src="{% static '/JS/script.js' %}"></script>
{% endblock content %}
