{% extends 'Base/navbar.html' %}
{% block content %}
{% load static %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }
    h6 {
      text-align: center;
    }
    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
 
     <form  action="/searchexpense" method ="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Expense" name="query" id="query" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="search">Search</button>
    </form> 

    

    <button><a href="/add-expense">Add Expense</a></button>
  {% if expenses%}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title"> Total  List</h6>
      </div>
      <table class="table table-hover" id="dev-table">
          <thead>
              <tr>
                  
                  <th>Name</th>
                  <th>Expense</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Delete</th>

              </tr>
          </thead>
          {% for expense in expenses %}
            <tr>
                
                <td>{{expense.Name}}</td>
                <td>{{expense.Expense}}</td>
                <td>{{expense.Amount}}</td>
                <td>{{expense.Date}}</td>
                
               
                <td><a class="btn btn-danger btn-xs" href="{% url 'delete-expenses' expense.id  %}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
          {% endfor %}
        </table>
    </div>
  {%else%}
    <br><br><br>
    <h4 style="text-align: center;color: red;">No Expense Details Found !!!</h4>
  {% endif %}


</div>

{% endblock content %}
